* {
  margin: 0;
  padding: 0;
}
.body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.button {
  height: 50px;
  width: 150px;
  border: 10px solid white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ball {
  height: 45px;
  background-color: blue;
  width: 45px;
  border-radius: 50%;
  position: relative;
  left: 0;
}

